# Local ROMs
baseroms/*/baserom.z64
*.z64
*.n64
*.v64
*.rom

# Local candidate files
np3f-local.yaml

# Generated build/extraction output
build/
dist/
generated/
extracted/
logs/
*.log

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local tooling
.local/
